<section class="main">
	<img src="resources/img/bg.png">
	<section class="row">
		<div class="categoria h" id="hamburguesas">
			<a href="#/listaproductos/4"> <img src="resources/img/bg.png" alt="Hamburguesas">
			</a>
		</div>

		<div class="categoria per">
			<a href="#/listaproductos/1"> <img src="resources/img/bg.png" alt="Hamburguesas">
			</a>
		</div>

		<div class="categoria beb">
			<a href="#/listaproductos/2"> <img src="resources/img/bg.png" alt="Hamburguesas">
			</a>
		</div>
		<div class="categoria otr">
			<a href="#/listaproductos/3"> <img src="resources/img/bg.png" alt="Hamburguesas">
			</a>
		</div>
	</section>
</section>