<h3>
	<i class="fa fa-angle-right"></i>Reportes
</h3>

<div class="row mt">
	<div class="col-lg-10">
		<div class="form-panel">
			<br>
			<h4 style="color:#898989">Reporte de ventas por día</h4>
			<br>
			<canvas id="bar" class="chart chart-bar" chart-data="reportes.data" chart-labels="reportes.labels"chart-series="reportes.series"></canvas>
			<br>
			<br>
			<br>
			<h4 style="color:#898989">Reporte de ventas por Mes</h4>
			<br>
			<canvas id="bar" class="chart chart-bar" chart-data="reportes.dataMes" chart-labels="reportes.labelsMes"chart-series="reportes.seriesMes"></canvas>
		</div>
	</div>
</div>